body {
    background-image: URL(images/4f03cb261de0cb6638e3199b86ee87ed.jpg);
}


:root {
    --font-family: "Montserrat", sans-serif;
    --second-family: "Karla", sans-serif;
    --third-family: "Istok Web", sans-serif;
    --font3: "Kenia", sans-serif;
    --font4: "Inter", sans-serif;
    --font5: "Libre Barcode 128 Text", sans-serif;
    font-family: var(--font-family);
    font-weight: 400;
    color: #ffffff;
    scroll-behavior: smooth;
}

a, a:hover {
    color: inherit;
}



[class*="__container"] {
    max-width: 1270px;
    margin: 0 auto;
    padding: 0 38px;
}



/* ===== HEADER ===== */
.header {
    background: url(../img/Header_Backgroud.png);
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}
.header__container {
    display: flex;
    min-height: 174px;
    align-items: center;
}
/* ===== LOGO ===== */
.logo p {
    font-family: var(--font5);
    font-size: 80px;
    transition: transform 0.5s ease 0s;
}
.logo p:hover {
    transform: scale(1.05);
}
/* ===== MENU ===== */
.menu {
    flex: 1 1 auto;
    display: flex;
}
.menu__body {
    display: flex;
    flex: 1 1 auto;
    margin-left: 110px;
}
.menu__list {
    font-family: var(--third-family);
    font-size: 18px;
    text-transform: uppercase;
    display: flex;
    max-width: 689px;
    width: 100%;
    justify-content: space-evenly;
}
.menu__item {
    padding: 10px 20px;
}
.menu__item:hover {
    cursor: pointer;
}
.menu__item:hover a {
    -webkit-text-stroke: 3px #d5300595;
}
/* ===== MENU  BURGER===== */
.menu__open-burger-menu,
.menu__close-burger-menu {
    display: none;
}